
<div class="footer-links">
    <ul class="social-links">
        <li><a routerlink="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a routerlink="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a routerlink="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a routerlink="#"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
    <ul class="txt-links">
        <li><a routerlink="#">Autodescripción</a></li>
        <li><a routerlink="#">Inversores</a></li>
        <li><a routerlink="#">Avisos legales</a></li>
        <li><a routerlink="#">Centro de ayuda</a></li>
        <li><a routerlink="#">Empleo</a></li>
        <li><a routerlink="#">Preferencias de cookies</a></li>
        <li><a routerlink="#">Tarjetas regalo</a></li>
        <li><a routerlink="#">Términos de uso</a></li>
        <li><a routerlink="#">Información corporativa</a></li>
        <li><a routerlink="#">Zona de prensa</a></li>
        <li><a routerlink="#">Privacidad</a></li>
        <li><a routerlink="#">Contáctanos</a></li>
    </ul>
</div>